<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mecongnghe-DHH Store</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../home.html">
    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore-compat.js"></script>
    <script type="module" src="../../routes/Firebase-Config.js"></script>
    <script type="module" src="../../routes/Product.js"defer></script>
    <script type="module" src="/public/js/Checklogin.js" ></script>
    <script type="module">
        import { displayProducts } from '../../routes/Product.js';
        
        document.addEventListener('DOMContentLoaded', () => {
            displayProducts('workstation'); // Lấy danh mục gaming
        });
    </script>
</head>
<body>
    <section class="top">
        <div class="container">
            <div class="row">
                <div class="top-logo">
                    <a href="../home.html"><img src="../../public/img/logo.png" alt=""></a>
                </div>
                <div class="top-menu-items">
                    <ul>
                        <li><a class="home" href="/views/home.html">Home</a></li>
                        <li>
                            <h4>Laptop</h4>
                            <ul class="top-menu-item">
                                <li><a href="/views/Category/Gaming.html">Laptop Gaming</a></li>
                                <li><a href="/views/Category/Laptop.html">laptop Văn Phòng</a></li>
                                <li><a href="/views/Category/Workstation.html">Workstation Laptop</a></li>
                            </ul>
                        </li>
                        <li>
                            <h4>Phụ Kiện</h4>
                            <ul class="top-menu-item">
                                <li><a href="/views/Category/Mouse.html">Chuột</a></li>
                                <li><a href="/views/Category/Keyboard.html">Bàn Phím</a></li>
                                <li><a href="/views/Category/Headphone.html">Tai Nghe</a></li>
                            </ul>
                        </li>
                        <li>
                            <h4>Cấu Hình</h4>
                            <ul class="top-menu-item">
                                <li><a href="/views/Category/Compare.html" target="_self">So sánh cấu hình</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="top-menu-icons">
                    <ul>
                        <li>
                            <div class="search-bar">
                                <input type="text" id="searchInput" placeholder="Nhập từ cần tìm">
                                <button id="searchButton" class="fas fa-search"></button>
                            </div>
                        </li>
                        <li><a href="../views/Login/Login.html"><i class="fa-regular fa-user"></i></a></li>
                        <li><a href="/views/Cart/Cart.html"><i id="cart-icon"class="fas fa-shopping-cart"></i></a><span id="cart-count">0</span></li>                    
                    </ul>
                </div>
            </div>
        </div>
    </section>
 
<!------------------ Cartegory ------------------->
<section class="cartegory">
    <div class="ads-left">
        <a href=""><img src="/public/img/left-ads1.png" alt="Ad Left"></a>
    </div>
    <div class="ads-right">
        <a href=""><img src="/public/img/rightads1.png" alt="Ad Right"></a>
    </div>
    <div class="container">
        <div class="cartegory-top row">
            <p><a href="/home.html" style="color: black;">Trang chủ</a></p> <span>&#10230; </span> <p>Laptop</p> <span>&#10230; </span> <p>Laptop Văn Phòng</p>
        </div>
    </div>
    <div class="top-banner">
        <img src="/public/img/banner-laptop-gaming.webp">
    </div>
    <div class="container">
        <div class="row">
            <div class="cartegory-right">
                <div class="cartegory-right-top-item">
                    <p>Laptop Workstation </p>
                </div>
                <div class="cartegory-right-top-item">
                  
                <div class="filter-container" data-category="workstation">
                
                    <!-- Lọc theo thương hiệu -->
                    <label for="filter-brand">Thương hiệu:</label>
                    <select id="filter-brand">
                        <option value="">Tất cả</option>
                        <option value="asus">Asus</option>
                        <option value="dell">Dell</option>
                        <option value="hp">HP</option>
                        <option value="LenovoLenovo">Lenovo</option>
                    </select>
                
                    <!-- Lọc theo CPU -->
                    <label for="filter-cpu">CPU:</label>
                    <select id="filter-cpu">
                        <option value="">Tất cả</option>
                        <option value="intel i3|ultra 3 ">Intel Core i5</option>
                        <option value="intel i5|ultra 5 ">Intel Core i5</option>
                        <option value="intel i7|ultra 7">Intel Core i7</option>
                        <option value="intel i9|ultra 9">Intel Core i9</option>
                        <option value="ryzen 5">AMD Ryzen 5</option>
                        <option value="ryzen 7">AMD Ryzen 7</option>
                        <option value="ryzen 9">AMD Ryzen 9</option>
                    </select>
                
                    <!-- Lọc theo RAM -->
                    <label for="filter-ram">RAM:</label>
                    <select id="filter-ram">
                        <option value="">Tất cả</option>
                        <option value="8GB">8GB</option>
                        <option value="16GB">16GB</option>
                        <option value="32GB">32GB</option>
                        <option value="64GB">64GB</option>
                    </select>
                
                    <!-- Lọc theo GPU -->
                    <label for="filter-vga">Card đồ họa:</label>
                    <select id="filter-vga">
                        <option value="">Tất cả</option>
                        <option value=" Arc">Integrated Intel Arc</option>
                        <option value="rtx 3050">RTX 3050</option>
                        <option value="rtx 3060">RTX 3060</option>
                        <option value="rtx 3070">RTX 3070</option>
                        <option value="rtx 3080">RTX 3080</option>
                    </select>
                
                    <!-- Lọc theo khoảng giá -->
                    <label for="filter-price-range">Khoảng giá:</label>
                    <select id="filter-price-range">
                        <option value="">Tất cả</option>
                        <option value="10000000-15000000">10 triệu - 15 triệu</option>
                        <option value="15000000-20000000">15 triệu - 20 triệu</option>
                        <option value="20000000-30000000">20 triệu - 30 triệu</option>
                        <option value="30000000+">từ 30 triệu trở lên</option>
                    </select>
                
                    <button id="apply-filters">Áp dụng</button>
                </div>
                </div>                    
                <div class="product-list"></div> <!-- Sản phẩm sẽ được hiển thị tại đây -->
        </div>
    </div>
    <div id="chatToggle" class="chat-toggle" onclick="toggleChat()">
        <i class="fa-solid fa-comment-medical"></i>
        <span class="wave"></span>
        <span class="wave"></span>
        <span class="wave"></span>
    </div>
    <div id="chatbox" class="chatbox">
        <div class="chatbox-header">
            <h1>Tư vấn khách hàng</h1>
            <button class="close-btn" onclick="toggleChat()">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div id="messages" class="messages"></div>
        <div id="questions" class="questions"></div>
        <div class="input-area">
            <input type="text" id="userInput" placeholder="Nhập câu hỏi của bạn....">
            <button id="sendBtn" onclick="sendMessage()">Gửi</button>
        </div>
    </div>
 </section>
  
<!-------------------- footer --------------------->
<section class="footer">
    <div class="footer-container">
        <p>Truy cập Fanpage <a href="https://www.facebook.com/profile.php?id=61569810176348" target="_blank">ĐHH Computer</a></p>
        <div class="app-google">
            <a href="https://www.apple.com/app-store/" target="_blank"><img src="" alt=""></a>
            <a href="https://play.google.com/store/games?hl=vi&pli=1" target="_blank"><img src="" alt=""></a>
        </div>
        <div class="footer-items">
            <li><a href="http://online.gov.vn" target="_blank"><img src="/public/img/bct.png" alt="" ></a></li>
            <li><a href="tel:0797268602">Liên hệ</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=61569810176348" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://mail.google.com/mail/?view=cm&fs=1&to=bookhavenstoresince2024@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
        </div>
        <div class="footer-text">
            <p></p>
            Địa chỉ đăng ký: 18A Cộng Hòa, P.13, Q.Tân Bình, TP.HCM</p>
            Đặt hàng online: 02820124323
        </div>
        <div class="footer-bottom">
            @ DHH Laptop Store by BOYS Studio
        </div>
    </div>
</section>
</body>
</html>