<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mecongnghe-DHH Store</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../home.html">
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script type="module" src="../../routes/Firebase-Config.js"></script>
    <script type="module" src="/public/js/Checklogin.js" ></script>
    <script type="module" src="../../public/js/Cart.js"></script>
    <script type="module">
        import { displayCart, updateQuantity, removeItem } from '../../public/js/Cart.js';
        window.updateQuantity = updateQuantity;
        window.removeItem = removeItem;
    </script>
</head>
<body>
    <section class="top">
        <div class="container">
            <div class="row">
                <div class="top-logo">
                    <a href="../home.html"><img src="../../public/img/logo.png" alt=""></a>
                </div>
                <div class="top-menu-items">
                    <ul>
                        <li>
                            Laptop
                            <ul class="top-menu-item">
                                <li><a href="/views/Category/Gaming.html">Laptop Gaming</a></li>
                                <li><a href="/views/Category/Laptop.html">laptop Văn Phòng</a></li>
                                <li><a href="/views/Cafegory/Workstation.html">Workstation Laptop</a></li>
                            </ul>
                        </li>
                        <li>
                            Phụ Kiện
                            <ul class="top-menu-item">
                                <li><a href="/views/Cartegory/Gaming.html">Chuột</a></li>
                                <li><a href="/views/Cartegory/Gaming.html">Bàn Phím</a></li>
                                <li><a href="/views/Cartegory/Gaming.html">Tai Nghe</a></li>
                            </ul>
                        </li>
                        <li>
                            Cấu Hình
                            <ul class="top-menu-item">
                                <li><a href="/views/Cartegory/Gaming.html">So sánh cấu hình</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="top-menu-icons">
                    <ul>
                        <li>
                            <div class="search-bar" style="display: none;">
                                <input type="text" id="searchInput" placeholder="Nhập từ cần tìm">
                                <button id="searchButton" class="fas fa-search"></button>
                            </div>
                        </li>
                        <li><a href="/login-admin/login.html"><i class="fa-regular fa-user"></i></a></li>
                        <li><a href="/html-cart/cart.html"><i id="cart-icon"class="fas fa-shopping-cart"></i></a><span id="cart-count">0</span></li>                    
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!------------------ CART------------------->
<section class="cart">
    <div class="container">
        <div class="cart-top-wrap">
            <div class="cart-top">
                <div class="cart-top-cart cart-top-item">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="cart-top-payment cart-top-item">
                    <i class="fas fa-money-check-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cart-content">
            <div class="cart-content-left">
                <table>
                    <tr>
                        <th>Sản phẩm </th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                    <tr>
                        <td><img src="" alt=""></td>
                        <td><p>Tên sản phẩm</p></td>
                        <td><img src="" alt=""></td>
                        <td><input type="number" value="1" min="1"></td>
                        <td><p>...<sub>đ</sub></p></td>
                        <td><span>X</span></td>
                    </tr>
                </table>
            </div>
            <div class="cart-content-right">
                <table>
                    <tr>
                        <th colspan="2">Tổng tiền giỏ hàng</th>
                    </tr>
                    <tr>
                        <td>TỔNG SẢM PHẨM</td>
                        <td id="total-quantity">0</td> <!-- ID để cập nhật số lượng sản phẩm -->
                    </tr>
                    <tr>
                        <td>TỔNG TIỀN HÀNG</td>
                        <td id="total-price">0<sub>đ</sub></td> <!-- ID để cập nhật tổng tiền -->
                    </tr>
                    <tr>
                        <td>TẠM TÍNH</td>
                        <td id="subtotal-price" style="color: black;font-weight: bold;">0<sub>đ</sub></td> <!-- ID để cập nhật tạm tính -->
                    </tr>
                </table>
                <div class="cart-content-right-text">
                    <p style="font-weight:bold">Cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi</p>
                </div>
                <div class="cart-content-right-button">
                    <button onclick="window.history.back()">TIẾP TỤC MUA SẢN PHẨM</button>
                    <button id="pay">THANH TOÁN</button>
                </div>
                <button onclick="clearCart()">Xóa toàn bộ giỏ hàng</button>
                <div class="cart-content-right-dangnhap">
                    <p>TÀI KHOẢN DHH Store</p>
                    <p>Hãy <a href="/login-admin/login.html" style="color: #333;">Đăng nhập </a>tài khoản của bạn để nhận được thông báo</p>
                </div>
            </div>
        </div>
    </div>
</section>
 
<!-------------------- footer --------------------->
<section class="footer">
    <div class="footer-container">
        <p>Truy cập Fanpage <a href="https://www.facebook.com/profile.php?id=61569810176348" target="_blank">ĐHH Computer</a></p>
        <div class="app-google">
            <a href="https://www.apple.com/app-store/" target="_blank"><img src="" alt=""></a>
            <a href="https://play.google.com/store/games?hl=vi&pli=1" target="_blank"><img src="" alt=""></a>
        </div>
        <div class="footer-items">
            <li><a href="http://online.gov.vn" target="_blank"><img src="/public/img/bct.png" alt="" ></a></li>
            <li><a href="tel:0797268602">Liên hệ</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=61569810176348" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://mail.google.com/mail/?view=cm&fs=1&to=bookhavenstoresince2024@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
        </div>
        <div class="footer-text">
            <p></p>
            Địa chỉ đăng ký: 18A Cộng Hòa, P.13, Q.Tân Bình, TP.HCM</p>
            Đặt hàng online: 02820124323
        </div>
        <div class="footer-bottom">
            @ DHH Laptop Store by BOYS Studio
        </div>
    </div>
</section>
</body>
</html>